module2/taxi_rowcount_annual_revised.yaml
id: taxi_rowcount_annual_revised
namespace: zoomcamp
description: |
  The CSV Data used in the course: https://github.com/DataTalksClub/nyc-tlc-data/releases

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [ yellow, green ]
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select year
    values: [ "2019", "2020", "2021" ]
    defaults: "2020"

  - id: month
    type: SELECT
    displayName: Select month
    values: [ "All", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" ]
    defaults: "All"

variables:
  all_months: '[ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" ]'
  input_months: '[ "{{ inputs.month }}" ]'
  months_array: |
    {% if inputs.month == 'All' %}
      {{ render(vars.all_months) }}
    {% else %}
      {{ render(vars.input_months) }}
    {% endif %}

  file2: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{taskrun.value}}.csv"
  data2: "{{outputs.extract[taskrun.value].outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ taskrun.value ~ '.csv']}}"

tasks:
  - id: set_months
    type: io.kestra.plugin.core.debug.Return
    format: "{{ render(vars.months_array) }}"

  - id: each_month
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.set_months.value }}"
    tasks:
      - id: extract
        type: io.kestra.plugin.scripts.shell.Commands
        outputFiles:
          - "*.csv"
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file2)}}.gz | gunzip > {{render(vars.file2)}}

      - id: get_file_size
        type: io.kestra.plugin.core.log.Log
        message: |
          The size of the file is {{ fileSize(render(vars.data2)) }} bytes.
          
      - id: query
        type: io.kestra.plugin.jdbc.duckdb.Query
        inputFiles:
          in.csv: "{{ render(vars.data2) }}"
        sql: "SELECT COUNT(*) FROM read_csv_auto('{{ workingDir }}/in.csv', HEADER=TRUE)"
        fetchType: FETCH_ONE

      - id: return_value
        type: io.kestra.plugin.core.debug.Return
        format: "{{ outputs.query[taskrun.value]['row']['count_star()'] }}"

  - id: calculate_sum
    type: io.kestra.plugin.scripts.python.Script
    script: |
      data = {{outputs.return_value}}
      total_sum = sum([int(item['value']) for item in data.values()])

      print(f"The total sum is: {total_sum}")

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: This will remove output files. If you'd like to explore Kestra outputs, disable it.
